<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.name %></h5>
    <p class="card-text">Cooking Time: <%= @recipe.cooking_time %></p>
    <p class="card-text">preparation Time: <%= @recipe.preparation_time %></p>
    <a href="#" class="btn btn-primary">Generate shopping list</a>
    <a href="#" class="btn btn-green">Add ingredient</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price </th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @foods.each do |x| %>
          <tr>
          <td><%= x.food.name %></td>
          <td><%= "#{x.quantity} #{x.food.measurement_unit}" %></td>
          <td><%= x.food.price %></td>
          <td><%= button_to "Delete", method: :delete, class: "btn btn-danger" %> </td>
          </tr>
      <% end %>
  </tbody>
</table>
