<h1>Shopping list</h1>

<p>Amount of items needed: <%= @recipe_foods.length %></p>
<p>Total price: <%= @total %></p>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price </th>
    </tr>
  </thead>
  <tbody>
      <% @recipe_foods.each do |rf| %>
          <tr>
          <td><%= rf.food.name %></td>
          <td><%= rf.quantity %></td>
          <td><%= rf.food.price * rf.quantity %></td>
          </tr>
      <% end %>
  </tbody>
</table>
