<h2> Add New ingredient </h2>
<%= form_with model: @recipe_food, url: '', data: { turbo: false} do |form| %>
        <% if @recipe_food.errors.any? %>
            <div class="alert alert-danger">
                <% @recipe_food.errors.full_messages do |message| %>
                    <div> <%= message %> </div>
                <% end %>
            </div>
        <% end %>
        
        <div class="mb-3">
            <%= form.label :quantity, class: "form-label" %>
            <%= form.number_field :quantity, class: "form-control", id: "exampleFormControlInput1", placeholder: "Food quantity" %>
        </div>
        <%= form.submit "Add Food", class:"btn btn-primary" %>
<% end %>
